body{
	background-color: #cef0ad;
}

button {
	cursor: pointer;
	font-family: Raleway;
	font-size: 20pt;
	font-weight: bold;
	color:#2a402e;
	width: 50%;
	background-color: #577550;
	border-style: solid;
	border-width: 4px;
	border-color: #4e8a4a;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #c2c0c0;
}

#telamenu {
	position: absolute;
	top: 65%;
	left: 25%;
	width: 100%;
}

#mainlogo{
	width: 20%;
	position: absolute;
	left: 25%;
	top: 10%;
}